@media print {
    html, body, .container, #content,
    .box-content, .col-lg-12, .table-responsive,
    .table-responsive .table, .dataTable, .box, .row  { width: 100% !important; height: auto !important; border: none !important; padding: 0 !important; margin: 0 !important; }
    .lt .sidebar-con { width: 0; display: none;  }
    body:before, body:after, .no-print,
    #header, #sidebar-left, .sidebar-nav, .main-menu,
    footer, .breadcrumb, .box-header, .box-header .fa, .box-icon, .alert, .introtext,
    .table-responsive .row, .table-responsive .table th:first-child,
    .table-responsive .table td:first-child, .table-responsive .table tfoot,
    .buttons, .modal-open #content, .modal-body .close, .pagination, .close, .staff_note {
        display: none;
    }
    .container { width: auto !important; }
    h3 { margin-top: 0; }
    .modal { position: static; }
    .modal .table-responsive { display: block; }
    .modal .table th:first-child, .modal .table td:first-child, .modal .table th, .modal .table td { display: table-cell !important; }
    .modal-content { display: block !important; background: white !important; border: none !important; }
    .modal-content .table tfoot { display: table-row-group !important; }
    .modal-header { border-bottom: 0; }
    .modal-lg { width: 100%; }
    .table-responsive .table th,
    .table-responsive .table td { display: table-cell; border-top: none !important; border-left: none !important; border-right: none !important; border-bottom: 1px solid #CCC !important; }
    a:after {
        display: none;
    }
    .print-table thead th:first-child, .print-table thead th:last-child, .print-table td:first-child, .print-table td:last-child {
        display: table-cell !important;
    }
    .fa-3x { font-size: 1.5em; }
    .border-right {
        border-right: 0 !important;
    }
    .table thead th { background: #F5F5F5 !important; background-color: #F5F5F5 !important; border-top: 1px solid #f5F5F5 !important; }
    .well { border-top: 0 !important; }
    .box-header { border: 0 !important; }
    .box-header h2 { display: block; border: 0 !important; }
    .order-table tfoot { display: table-footer-group !important; }
    .print-only { display: block !important; }
    .reports-table th, .reports-table td { display: table-cell !important; }
    table thead { display: table-header-group; }
    .white-text { color: #FFF !important;  text-shadow: 0 0 3px #FFF !important; -webkit-print-color-adjust: exact; }
    #bl .barcodes td { padding: 2px !important; }
    #bl .barcodes .bcimg { max-width: 100%; }
    #lp .labels { text-align:center;font-size:10pt;page-break-after:always;padding:1px; }
    #lp .labels img { max-width: 100%; }
    #lp .labels .name { font-size:0.8em; font-weight:bold; }
    #lp .labels .price { font-size:0.8em; font-weight:bold; }
    .well { border: none !important; box-shadow: none; }
    .table { margin-bottom: 20px !important;  }
}

/*qtthuan*/
.circle_text {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    padding: 5px;
    background: #fff;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    font: 28px Arial, sans-serif;
}
.circle_text1 {
    border-radius: 5px;
    border: 1px solid #000;
    padding: 7px;
    height: 29px;
}
.circle_text2 {
    border-radius: 6px;
    border: 1px solid #7c7272;
    padding: 2px;
    height: 19px;
}

/*Please modify the styles below for barcode/label printing */
.barcode { width: 4.1in; display: block; margin: 0px auto; page-break-after:always; }
.barcode .item { display: block; overflow: hidden; text-align: center; border: 1px dotted #CCC; font-size: 12px; line-height: 14px; float: left; }
.barcode .item_1 { display: block; overflow: hidden; border: 1px solid #000000; border-radius: 5px; padding: 4px 3px 0px 3px; margin: 3px 1px 0px 10px; font-size: 12px; line-height: 14px; float: left; }
.barcode .item_1 h4 { display: table; width: 100%; }
.style50 { font-size: 10px; line-height: 12px; margin: 0 auto; display: block; text-align: center; border: 1px dotted #CCC; font-size: 12px; line-height: 14px; page-break-after:always; }
.barcode .style30 { width: 2.625in; height: 1in; margin: 0 0.07in; padding-top: 0.05in; }
.barcode .style30:nth-child(3n+1) {  margin-left: 0.1in; }
.barcode .style20 { width: 4in; height: 1in; margin: 0 0.1in; padding-top: 0.05in; }
.barcode .style14 { width: 4in; height: 1.33in; margin: 0 0.1in; padding-top: 0.1in; }
/*.barcode .style10 { width: 1.83in; min-height: 1.08in; font-size: 11px; line-height: 15px; }*/
.barcode .style10 { width: 1.74in; min-height: 0.98in; font-size: 11px; line-height: 14px; }
.barcode .style10_1 { position: relative; width: 1.94in; min-height: 1.5in; font-size: 11px; line-height: 14px; }
.barcode .barcode_site, .barcode .barcode_name, .barcode .barcode_image, .barcode .variants { display: block; }
/*.barcode .barcode_price, .barcode .barcode_unit, .barcode .barcode_category { display: inline-block; font-size: 15px; padding-top: 2px; }*/
.barcode .barcode_price, .barcode .barcode_unit, .barcode .barcode_category { display: inline-block; font-size: 16px; }
.barcode .text_code { font-weight: bold; display: inline-block; font-size: 15px; }
.barcode .text_size { font-weight: bold; display: table-cell; font-size: 15px; text-align: left; }
.barcode .text_price { font-weight: bold; display: table-cell; font-size: 18px; text-align: right; padding-right: 9px; }
.barcode .text_suppliers { font-size: 12px; }
.barcode .product_image { width: 0.8in; float: left; margin: 5px; }
.barcode .style10 .product_image { width: 1in; }
.barcode .style30 .product_image { width: 0.5in; float: left; margin: 5px; }
.barcode .product_image img { max-width: 100%; }
.style50 .product_image, .style40 .product_image { display: none; }
.style50 .barcode_site, .style50 .barcode_name, .style50 .barcode_image, .style50 .barcode_price { display: block; }
.barcode .barcode_image img, .style50 .barcode_image img { max-width: 100%; }
.barcode .barcode_site { font-weight: bold; }
.barcode .barcode_site, .barcode .barcode_name { font-size: 14px; }
.barcode .style10 .barcode_site, .barcode .style10 .barcode_name { font-family: Tahoma; font-size: 10px; padding: 1px 4px 1px; min-height: 28px; }
.barcode .style10 .increase_size { font-family: Tahoma; font-size: 20px; line-height: 25px; min-height: 21px; }
.barcode .style10 .increase_size_1 { font-family: Tahoma; font-size: 17px; line-height: 19px; min-height: 19px; }
.barcode .style10_1 .barcode_site, .barcode .style10 .barcode_name { font-family: Tahoma; font-size: 12px; padding: 1px 4px 1px; min-height: 28px; }
.barcode .style10_1 .increase_size { font-family: Tahoma; font-size: 19px; line-height: 22px; min-height: 21px; margin-bottom: 8px; margin-top: 10px; }
.barcode .style10_1 .increase_size_1 { font-family: Tahoma; font-size: 16px; line-height: 15px; min-height: 20px; margin-top: 5px; }
.barcode .style10_1 .increase_size_2 { font-family: Tahoma; font-size: 14px; line-height: 15px; min-height: 20px; margin-top: 5px; }
.barcode .style10_1 .barcode_name .increase_size_3 { font-family: Tahoma; font-size: 8px; line-height: 11px; min-height: 18px; }
.barcode .style10_1 .barcode_name .comment { font-size: 10px; }
.barcode .valign_barcode_middle { display: grid; align-items: center; padding-left: 5px; padding-right: 2px; }

.barcode_mini { width: 2.1in; display: block; margin: 0px auto; page-break-after:always; }
.barcode_mini .item { display: block; overflow: hidden; text-align: center; border: 1px dotted #CCC; font-size: 12px; line-height: 14px; float: left; }
.barcode_mini .item_1 { display: block; overflow: hidden; border: 1px solid #000000; border-radius: 5px; padding: 4px 3px 0px 3px; margin: 3px 1px 0px 10px; font-size: 12px; line-height: 14px; float: left; }
.barcode_mini .item_1 h4 { display: table; width: 100%; }
.style50 { font-size: 10px; line-height: 12px; margin: 0 auto; display: block; text-align: center; border: 1px dotted #CCC; font-size: 12px; line-height: 14px; page-break-after:always; }
.barcode_mini .style30 { width: 2.625in; height: 1in; margin: 0 0.07in; padding-top: 0.05in; }
.barcode_mini .style30:nth-child(3n+1) {  margin-left: 0.1in; }
.barcode_mini .style20 { width: 4in; height: 1in; margin: 0 0.1in; padding-top: 0.05in; }
.barcode_mini .style14 { width: 4in; height: 1.33in; margin: 0 0.1in; padding-top: 0.1in; }
/*.barcode .style10 { width: 1.83in; min-height: 1.08in; font-size: 11px; line-height: 15px; }*/
.barcode_mini .style10 { width: 1.74in; min-height: 0.98in; font-size: 11px; line-height: 14px; }
.barcode_mini .style10_1 { position: relative; width: 1.94in; min-height: 1.5in; font-size: 11px; line-height: 14px; }
.barcode_mini .barcode_site, .barcode .barcode_name, .barcode .barcode_image, .barcode .variants { display: block; }
/*.barcode .barcode_price, .barcode .barcode_unit, .barcode .barcode_category { display: inline-block; font-size: 15px; padding-top: 2px; }*/
.barcode_mini .barcode_price, .barcode .barcode_unit, .barcode .barcode_category { display: inline-block; font-size: 16px; }
.barcode_mini .text_code { font-weight: bold; display: inline-block; font-size: 15px; }
.barcode_mini .text_size { font-weight: bold; display: table-cell; font-size: 15px; text-align: left; }
.barcode_mini .text_price { font-weight: bold; display: table-cell; font-size: 18px; text-align: right; padding-right: 9px; vertical-align: bottom; }
.barcode_mini .text_suppliers { font-size: 12px; }
.barcode_mini .product_image { width: 0.8in; float: left; margin: 5px; }
.barcode_mini .style10 .product_image { width: 1in; }
.barcode_mini .style30 .product_image { width: 0.5in; float: left; margin: 5px; }
.barcode_mini .product_image img { max-width: 100%; }
.barcode_mini .barcode_image img, .style50 .barcode_image img { max-width: 100%; }
.barcode_mini .barcode_site { font-weight: bold; }
.barcode_mini .barcode_site, .barcode .barcode_name { font-size: 14px; }
.barcode_mini .style10 .barcode_site, .barcode .style10 .barcode_name { font-family: Tahoma; font-size: 10px; padding: 1px 4px 1px; min-height: 28px; }
.barcode_mini .style10 .increase_size { font-family: Tahoma; font-size: 20px; line-height: 25px; min-height: 21px; }
.barcode_mini .style10 .increase_size_1 { font-family: Tahoma; font-size: 17px; line-height: 19px; min-height: 19px; }
.barcode_mini .style10_1 .barcode_site, .barcode .style10 .barcode_name { font-family: Tahoma; font-size: 12px; padding: 1px 4px 1px; min-height: 28px; }
.barcode_mini .style10_1 .increase_size { font-family: Tahoma; font-size: 19px; line-height: 22px; min-height: 21px; margin-bottom: 8px; margin-top: 10px; }
.barcode_mini .style10_1 .increase_size_1 { font-family: Tahoma; font-size: 16px; line-height: 15px; min-height: 20px; margin-top: 5px; }
.barcode_mini .style10_1 .increase_size_2 { font-family: Tahoma; font-size: 14px; line-height: 15px; min-height: 20px; margin-top: 5px; }
.barcode_mini .style10_1 .barcode_name .increase_size_3 { font-family: Tahoma; font-size: 8px; line-height: 11px; min-height: 18px; }
.barcode_mini .style10_1 .barcode_name .comment { font-size: 10px; }
.barcode_mini .valign_barcode_middle { display: grid; align-items: center; padding-left: 5px; padding-right: 2px; }


.barcodea4 { width: 8.25in; height: 11.6in; display: block; border: 1px solid #CCC; margin: 10px auto; padding: 0.1in 0 0 0.1in; page-break-after:always; }
.barcodea4 .item { display: block; overflow: hidden; text-align: center; border: 1px dotted #CCC; font-size: 12px; line-height: 14px; float: left; }
.barcodea4 .style40 { width: 1.799in; height: 1.003in; margin: 0 0.07in; padding-top: 0.05in; }
.barcodea4 .style24 { width: 2.48in; height: 1.335in; margin-left: 0.079in; padding-top: 0.05in; }
.barcodea4 .style18 { width: 2.5in; height: 1.835in; margin-left: 0.079in; padding-top: 0.05in; font-size: 13px; line-height: 20px; }
.barcodea4 .style12 { width: 2.5in; height: 2.834in; margin-left: 0.079in; padding-top: 0.05in; font-size: 14px; line-height: 20px; }
.barcodea4 .barcode_site, .barcodea4 .barcode_name, .barcodea4 .barcode_image, .barcodea4 .variants { display: block; }
.barcodea4 .barcode_price, .barcodea4 .barcode_unit, .barcodea4 .barcode_category { display: inline-block; }
.barcodea4 .product_image { width: 0.8in; float: left; margin: 5px; }
.barcodea4 .style12 .product_image { width: 100%; height:auto; max-height: 1.5in; display: block; }
.barcodea4 .style12 .product_image img { max-width: 100%; max-height: 100%; }
.barcodea4 .style24 .barcode_site, .barcodea4 .style24 .barcode_name { font-size: 14px; }
.barcodea4 .style18 .barcode_site, .barcodea4 .style18 .barcode_name { font-size: 14px; font-weight: bold; }
.barcodea4 .style12 .barcode_site, .barcodea4 .style12 .barcode_name { font-size: 15px; font-weight: bold; }

.barcodea5 { font-family: Tahoma, Geneva, sans-serif; width: 4.5in; height: auto; display: block; border: 1px solid #CCC; padding: 0; page-break-after:always; }
.barcodea5 .item { display: block; overflow: hidden; text-align: center; border: 1px dotted #CCC; font-size: 14px; line-height: 14px; float: left; }
.barcodea5 .barcode_site, .barcodea5 .barcode_name, .barcodea5 .barcode_image, .barcodea5 .variants { display: block; padding-bottom: 4px; }
.barcodea5 .barcode_price, .barcodea5 .barcode_unit, .barcodea5 .barcode_category { display: inline-block; padding-top: 6px; }
.barcodea5 .product_image { width: 1.15in; float: left; margin: 5px 0; }
.barcodea5 .style55 { width: 1.9in; height: 1.3in; padding-top: 0.05in; }

.floating-print-btn {
  position: fixed;
  top: 60%;
  transform: translateY(-50%);
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 22px;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  z-index: 1000;
  opacity: 0.9;
  transition: all 0.3s ease;
}
.floating-print-btn:hover {
  opacity: 1;
  background-color: #0b5ed7;
}
.floating-print-btn.left {
  left: 40%;
}


.floating-print-btn-grey {
  position: fixed;
  top: 55%;
  transform: translateY(-50%);
  background-color: #334536;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 2px 25px;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  z-index: 1000;
  opacity: 0.9;
  transition: all 0.3s ease;
}
.floating-print-btn-grey:hover {
  opacity: 1;
  background-color: #2e3632;
}
.floating-print-btn-grey.right {
  right: 24%;
}

.floating-print-btn-green {
  position: fixed;
  top: 65%;
  transform: translateY(-50%);
  background-color: #34b44a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  z-index: 1000;
  opacity: 0.9;
  transition: all 0.3s ease;
}
.floating-print-btn-green:hover {
  opacity: 1;
  background-color: #18854b;
}
.floating-print-btn-green.right {
  right: 24%;
}




@media print {
    .barcode, .barcodea4 .barcode5 { margin: 0; }
    .barcode, .barcode .item, .barcodea4, .barcodea4 .item, .barcodea5 .item, .style50, .div50 { border: none !important; }
    .div50, div55, .modal-content { page-break-after:always; }
}
